/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
  		height:120px; padding: 20px;
  }
  .hit-the-floor {
		font-size: 2.5em;
  }
  #fix2 {
  	display: none;
  }
  .button{
  	display: none;
  }
  .slideshow-block p{
  	font-size: 12px;
  }
  .slideshow-block span{
  	font-size: 15px;
  }
  .slideshow-container {
  	height:360px;
  }
  .slideshow-container img{
  	height: 360px;
  }
  #nav {
  	display: none;
  }
  .leftcolumn1{
  	float: none;
  	width: 100%;
  	padding: 0;
  	padding-top: 25px;
  }
  .rightcolumn1{
  	float: none;
  	width: 100%;
  	padding: 10px;
  	position: static;

  }
  .description{
  	padding: 0;
  	padding-top: 20px;
  }
  #flextable {
  	font-size: 14px;
  }
#link {
	font-size: 12px;
	}

body {
	font-size: 12px;
}
#fix4{
	padding: 0;
	height: auto;
}
#fix4 span {
	font-size: 14px;
}
#fix5{
	display: none;
}

.fix7{
	padding-top: 20px;
}
.textarea {
	font-size: 16px;
}

#fix8 {
	padding-top: 10px;
}
.textarea1 {
	height:220px;
}
.fix9{
	padding: 20px;
  font-size: 12px;
}
.fix9 h2 {
  font-size: 30px;
}
#fix10{
  padding: 0;
}
#fix11 img{
  height: 200px;
}
#fix12{
  padding: 20px;
  font-size: 12px;
  padding-top: 60px;
}
#fix13{
  height:200px;
}
#fix14{
  width: 100%;
}
#fix15{
  height:100px; 
  width:100px; 

}
#fix16{
  padding: 0;
}
#fix17{
  height:300px; 
  width:100%; 
}
#fix18{
  height:300px; 
  width:100%; 
  padding: 0;
  border:1px solid #777;
}
#fix19{
  height:300px; 
  width:100%; 
  padding: 0; 
 
  border:1px solid #777;
}
#fix20{padding: 0;}
#fix20 img{
  height:300px; width:100%; padding:0;
}
.ISRO{
  height:200px;
  font-size: 10px;
  padding: 4px;

}
.ISRO img {
  height: 150px;
   border: 1px solid #777;
}
#fix21{height:300px; 
  width:100%; 
  padding:0;
}
.marquee{
  height: 250px; 
}
.marquee img {
  height: 250px;
  width: 212.5px;
  
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #fix1 {
  	display: none;
  }
  #nav02{
  	display: none;
  }
  #fix3 {
  	display: none;
  }
  #fix6{
  	display: none;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}